extends layout

block content
  .jumbotron
    .container
      .row 
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer working slow or not at all? Call us for a quick and east quate
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src="/images/mouse.png")
  .row
    .col-md-4
      .well
        h4 Hardware Problem ?
        p
          | A hardware problem is classified as a fault in an actual component - or in the configuration of that component - leading to issues with the computer
    .col-md-4
      .well
        h4 Software Problem ?
        p
          | The more severe software problems are usually caused by a hardware failure. No start (with or without an error message), frequent crashes with different errors each time, frequent freezes or Windows running extremely slow all indicate hard disk, memory (RAM), motherboard or overheating problems.
    .col-md-4
      .well
        h4 PC Tune Up ?
        p
          | A PC tune-up utility is an application that digs deep into your computer and fixes trouble areas. It performs several functions, including defragmenting your PC's hard drive, repairing the incredibly problematic Windows Registry, and freeing up disk space by deleting useless and duplicate files.

