a {
    color: #00B7FF;
}

.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
}